

.details{
    background: #008aff;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media screen and (max-width: 991px) {
        margin-top: 20px;
    }

}

.forecast-title{
    h4{
        color: white;
        text-align: center;
        font-weight: 100;
    }
}